name: Deploy

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  deploy:
    name: Deploy to Deno Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Cache Deno dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('**/deno.json') }}
          restore-keys: |
            ${{ runner.os }}-deno-

      - name: Build
        run: deno task build
        env:
          GITHUB_CLIENT_ID: ${{ secrets.GITHUB_CLIENT_ID }}
          GITHUB_CLIENT_SECRET: ${{ secrets.GITHUB_CLIENT_SECRET }}
          APP_BASE_URL: ${{ secrets.APP_BASE_URL }}
          SESSION_EXPIRE_TIME: ${{ secrets.SESSION_EXPIRE_TIME }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "halolight-deno"
          entrypoint: "main.ts"
          root: "."
